<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="shortcut icon" href="/home/yup/bioinfo/biocomp2/icon.png" type="image/x-icon" /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<style type="text/css">

  body { color: #65A3FF; background: white; overflow-x: hidden;}
  p {word-wrap: break-word;}
  </style>
</head>
<body>
<div class="container.fluid">
<h1 class="header"> {{ gene.id }} </h1>
<div class="Summary">
<div class="row">
<div class="col col-sm-4"> Chromosomal location </div>
<div class="desc col-sm-4"> {{ gene.location}} </div>
</div>
<div class="row">
<div class="col col-sm-4"> Protein Product names </div>
<div class="desc col-sm-4"> {{ gene.p_name}} </div>
</div>
<div class="row">
<div class="col col-sm-4"> Genbank accession  </div>
<div class="desc col-sm-4"> {{ gene.ga}} </div>		
</div>
<div class="row">
<div class="col col-sm-4"> Sequences </div>
<div class="desc col-sm-4"> 
<button data-toggle="collapse" id="DNA_display" data-target="#seq"> Display</button>
 </div>
 </div>
<div class="row">
<div class="col col-sm-4"> Codon Usage Analysis  </div>
<div class="desc col-sm-4"> 
<button data-toggle="collapse" data-target="#codon"> Generate </button>
 </div>
  </div>
 
 <div class="row">
<div class="col col-sm-4"> Restriction Enzyme </div>
<div class="desc col-sm-4"> 
<div class="dropdown">
<button class ="btn btn-default dropdown-toggle" type ="button" data-toggle="dropdown" id="enzyme_menu" > Compute </span></button>
{% set counter = 0 %}

<ul class="dropdown-menu" role="menu" aria-labelledby="enzyme_menu">
{% for item in items -%}
<li role="presentation"><a class="r_enzyme"role="menuitem" id="enzyme_item" href="#"> {{item}} </a></li>
{%- endfor %}
</ul>


</div>
</div>
 </div>
  </div>
 
<div class="panel panel-default collapse" id="seq">
<div class="panel-heading">
 <h4 class="panel-title">
    <div class="row">
    <div class="col col-sm-2"><a data-toggle="collapse" href="#collapse1">DNA Sequences</a> </div>
    <div class="col col-sm-2"><a data-toggle="collapse" href="#collapse2">Protein Sequences</a></div>
    </div>
</h4>
  </div>
<div id="collapse1" class="panel-collapse collapse">
<div class="panel-body">
<div class="row">
<div class="col-sm-4"><h3> DNA Sequence</h3></div>
<div class="col-sm-2"><p><a id=change_color href="#"> Show Coding Sequence </a></p></div>
</div>
<div id=dna_seq>
<p>{{gene.DNA}}</p>
</div>
</div>
</div>
<div id="collapse2" class="panel-collapse collapse">
<div class="panel-body">
<h4>Protein Sequence</h4>
<p>{{gene.Protein}}</p>
</div>
</div>
</div>
<div class="panel panel-default collapse" id="enzyme">
<div class="panel-heading">
 <h4 class="panel-title"> Restrtiction Enzyme </h4>
 </div>
 <div class="panel-body" id="enzyme_display"> Here it is
</div>
</div>
</body>

<script type="text/javascript">
var color_click="";
$("#change_color").click (function (event) {
if( color_click == "changed"){ 
	var insert = "{{gene.DNA}}"; color_click = ""; link_txt = "Show Coding Sequence";}
else {insert ="{{gene.DNA_C}}"; color_click ="changed"; link_txt = "Hide Coding Sequence"}
$("#dna_seq p").html(insert);
$("#change_color").html(link_txt);}
)
var display_click="";
$("#DNA_display").click (function (event) {
	if( display_click == "changed"){ 
       button_text= "Display"; display_click = "";
	 }
	 else { button_text= "Hide"; display_click = "changed";}
	 $("#DNA_display").text(button_text);
})
var enzyme_click ="";
var warning_msg= ["You’ve probably heard it before—if not, you’ve likely experienced it yourself","And just when I though things were starting to get better, everything had gone wrong again."];
$(".r_enzyme").click (function (event) {
	if( enzyme_click == ""){
   enzyme_click="changed";
   $("#enzyme_menu").text("Compute - Click to Close");
   source = "../cgi/details.py";
   textboxValue = $(this).text();
   var jqxhr = $.ajax( {url:source,dataType: 'html'}).done(function() {
   alert( "success" );
   $.get(source, {query:textboxValue},function(result){
          $("#enzyme_display").html(result) 
              });})
     .fail(function() {
     $("#enzyme").attr("class", "panel-default collapse in");
     $("#enzyme_display").html('<p><span class="glyphicon glyphicon-alert"></span>Error: '+warning_msg[Math.round(Math.random())]+' </p>');
    alert( jqxhr.status );

  });
$("#enzyme").attr("class", "panel-default collapse in");
$("#enzyme_menu").text("Compute - Click to Close");
}
})

 
$("#enzyme_menu").click (function (event) {
	if( enzyme_click == "changed"){
$("#enzyme").attr("class", "panel-default collapse");
    enzyme_click =""; 
    $("#enzyme_menu").text("Compute");
    enzyme_click == "";
	}
})
</script>

<!--
<div  class="panel panel-default" id="codon">
<h2> Codon Usage Analysis</h2>
</div>
<div class = "panel panel-default" id='enzyme'>
<h2> Restritcion Enzyme</h2>
</div>

</div>
</div>
</body> -->
