<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="shortcut icon" href="/home/yup/bioinfo/biocomp2/icon.png" type="image/x-icon" /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<style type="text/css">

  body { color: #65A3FF; background: white; overflow-x: hidden;}

  </style>
</head>
<body>
<div class="container.fluid">
<h1 class="header"> {{ genes.name }} </h1>
<div class="Summary">
<div class="row">
<div class="col col-sm-4"> Chromosomal location </div>
<div class="desc col-sm-4"> {{ genes.loaction}} </div>
</div>
<div class="row">
<div class="col col-sm-4"> Protein Product names </div>
<div class="desc col-sm-4"> {{ genes.p_name}} </div>
</div>
<div class="row">
<div class="col col-sm-4"> Genbank accession  </div>
<div class="desc col-sm-4"> {{ genes.ga}} </div>		
</div>
<div class="row">
<div class="col col-sm-4"> Sequences </div>
<div class="desc col-sm-4"> 
<button data-toggle="collapse" data-target="#seq"> Display</button>
 </div>
 </div>
<div class="row">
<div class="col col-sm-4"> Codon Usage Analysis  </div>
<div class="desc col-sm-4"> 
<button data-toggle="collapse" data-target="#codon"> Generate </button>
 </div>
  </div>
 <div class="row">
<div class="col col-sm-4"> Restriction Enzyme </div>
<div class="desc col-sm-4"> 
<button data-toggle="collapse" data-target="#enzyme"> Compute</button>
 </div>
  </div>
 
<div class="panel panel-default collapse" id="seq">
<div class="panel-heading">
 <h4 class="panel-title">
    <div class="row">
    <div class="col col-sm-2"><a data-toggle="collapse" href="#collapse1">DNA Sequences</a> </div>
    <div class="col col-sm-2"><a data-toggle="collapse" href="#collapse2">Protein Sequences</a></div>
    </div>
</h4>
  </div>
<div id="collapse1" class="panel-collapse collapse">
<div class="panel-body">
<h4>DNA Sequence</h4>
<p>{{gene.DNA}}</p>
</div>
</div>
<div id="collapse2" class="panel-collapse collapse">
<div class="panel-body">
<h4>Protein Sequence</h4>
<p>{{gene.Protein}}</p>
</div>
</div>
<!--
<div  class="panel panel-default" id="codon">
<h2> Codon Usage Analysis</h2>
</div>
<div class = "panel panel-default" id='enzyme'>
<h2> Restritcion Enzyme</h2>
</div>
 -->
</div>
</div>
</body>
