<div class="table-responsive" >          
 <table class="table table-hover">
   <thead>
     <tr>
       <th>gene name</th>
       <th>protein product name</th>
       <th>Genbank accession</th>
       <th>chromosomal location</th>
     </tr>
   </thead>   
   <tbody>
   {% for item in items %}
   <tr>
   <td>{{item.id}}</td>
   <td>{{item.name}}</td>
   <td>{{item.an}}</td>
   <td>{{item.location}}</td>
   <td><a href="?details.py?search={{ item.id }}">details</a></td>
   </tr>
   {% endfor %}
   </tbody>
   </table>